<div class="container" [hidden]="submitted">
     <form (ngSubmit)="onSubmit()" #reportForm="ngForm" *ngIf="active">
         <div class="form-group">
             <label for="eventType">Event Type</label>
            <select class="form-control" id="eventType" required [(ngModel)]="model.event_id" name="event_id" #eventType="ngModel">
                <option *ngFor="let e of events" [value]="e.id"> {{e.event}} </option>
            </select>
         </div> 
          <div class="form-group">
             <label for="location">Location</label>
             <input type="text" class="form-control" id="location" required [(ngModel)]="model.location" name="location" #location="ngModel">
         </div>
         <div class="form-group">
             <label for="description">Description</label>
             <input type="textarea" rows="5" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel">
         </div>
         <div class="form-group">
             <label for="email">Email Address Optional</label>
             <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" #email="ngModel">
         </div>
         <div class="form-group">
             <label for="phoneNumber">Phone Number Optional</label>
             <input type="text" class="form-control" id="phone" [(ngModel)]="model.phone" name="phone" max="10" pattern="^592\d{7}$|\d{7}$" #phone="ngModel">
         </div>
         <div class="form-group">
             <label for="reportDate">Report Date Optional</label>   
             <input type="date" id="reportDate" class="form-control" [(ngModel)]="model.reportDate" name="reportDate" #reportDate="ngModel">
         </div>
         <button type="button" class="btn btn-default" (click)="newReport()"> Clear Form </button>
         <button type="submit" class="btn btn-default" [disabled]="!reportForm.form.valid"> Submit Report</button>
     </form>
</div>
<div class="container top-buffer" [hidden]="!submitted">
    <form (ngSubmit)="onUpload()" #uploadForm="ngForm">
        <div class="form-group">    
           <label for="report_id">Report ID</label>
           <input type="text" class="form-control" id="report_id" required [(ngModel)]="imageModel.id" name="report_id" #location="ngModel" value={{subResult.reference_no}}>
        </div>
        <div class="form-group">
            <span class="btn btn-default btn-file">
               <input type="file" (change)="onChange($event)" required />
            </span>
        </div>
        <div class="form-group">
             <div class="alert alert-success" role="alert" [hidden]="!fileStatus"> Image Uploaded</div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!uploadForm.form.valid"> Upload File</button>
        <button type="button" class="btn btn-default" (click)="closeUpload()"> Close Upload </button>
    </form>
</div>